* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #1e1d20;
}

.card {
    max-width: 400px;
    background: linear-gradient(to bottom right,
            rgb(102, 225, 137),
            rgb(19, 211, 211),
            rgb(93, 120, 171),
            rgb(29, 90, 196));
    color: #fff;
    border-radius: 20px;
    margin: 100px auto 0;
    padding: 50px 30px;
    text-align: center;
}

.search-icon {
    width: 40px;
    height: 40px;
    filter: invert(.3);
}

.search {
    display: flex;
}

.search input {
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
}

.search button {
    background: #ebfffc;
    border: 0;
    outline: 0;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    width: 60px;
    height: 60px;
}

.search button:hover {
    background: #d0f7f4;
}

.weather-icon {
    width: 50%;
    height: 50%;
    margin: 30px auto;
}

.weather h1 {
    font-size: 80px;
    font-weight: 500;
}

.weather h2 {
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;
}

.col {
    display: flex;
    margin-top: 30px;
    text-align: left;
}

.col img {
    width: 30%;
    height: 30;
    margin-right: 10px;
    filter: invert(1);
    margin-top: -5px;
}

.details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
    padding: 20px;
}

.humidity,
.wind {
    font-size: 20px;
}

.weather {
    display: none;
}

.error {
    display: none;
    text-align: left;
    color: #fff;
    font-size: 14px;
    margin-top: 10px;
    margin-left: 10px;
}